@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link:active{
  border-bottom: 3px solid #3b2ce9;
}

.blue-gradient{
  background: linear-gradient(#3b2ce9, #211983);
}

.card-dark{
  background: #1f1f27;
}
